.addTaskLog{
    margin: 40px auto 0 auto;
    width: 180px;
    border-radius: 10px;
    background: white;
    padding: 10px 0;
    form{
        margin: auto;
        text-align: center;
    }
    .addTaskGroupName{width: 160px;}
    .addTask{width: 140px; margin-top: 10px;}
    button{
        margin-top: 10px;
    }
}