//font-sizeの変数
$large: 32px;
$medium: 16px;
$smaill: 8px;

//Task, Dateと同じ幅
$sameWidth: 100px;

//同じ枠線
$sameBorder: thin solid black;


.AppName{
    color: white;
    text-align: center;
    padding-top: 20px; //適当
    font-style: italic;
}

.TaskLogs{
    margin-top: 40px; //適当
    &:first-child{
        margin-top: 0;
    }
}

.TaskLog{
    width: 620px;//要調整
    height: 210px;//要調整
    border-radius: 20px;//適当
    padding: 10px;
    background-color: white;
    margin: 20px auto 0 auto;
}

.TaskGroupName{
    font-size: $large;
    margin-left: 10px;//Contentのmarginと同じ

}

.Content{
    position: relative;
    margin: 10px 0 0 10px;//TaskGroupNameのmarginと同じ

}

.Data{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    margin-left: $sameWidth;
    width: 500px;//適当
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


.Date{
    width: 70px; //適当に決めた数字
    border-right: $sameBorder;
    border-bottom: $sameBorder;
    font-size: $medium;
    text-align: center;
}

.Values{
    display: flex;
    flex-direction: column;
}
.Value{
    text-align: center;
    border-bottom: $sameBorder;
    border-right: $sameBorder;
    line-height: 24px; //Taskの縦幅と同じ
}

.Tasks{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: $sameWidth;
    padding-top: 19.333px; //Dateの縦幅と同じ
    border-right: $sameBorder;
}
.Task{
    border-bottom: $sameBorder;
    width: $sameWidth;
    text-align: center;
    &:first-child{
        border-top: $sameBorder;
    }
}